/* styles.css */

body {
    background-image: url("./Assets/bg.jpg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    overflow: auto;
}

.display-5 {
    font-size: calc(0.8rem + 1.1vw);
    font-weight: 300px;
    line-height: 1.2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.display-6 {
    font-size: calc(0.5rem + 1.1vw);
    font-weight: 100px;
    line-height: 1;
    color: #4b5755;
}

.card {
    width: 500px;
    height: 100vh;
}

.transparent-card {
    background-color: rgba(199, 189, 189, 0.5);
}

.title {
    text-align: center;
}

.card-transparent {
    background: rgba(255, 255, 255, 0.7);
    border: none;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-col {
    flex: 0 0 60%; /* Adjust the width as needed */
}

.form-col.full {
    width: 100%;
}

.logout-container {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.logout-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-btn:danger {
    background-color: darkred;
}
