body{
         
    background-image: url("./Assets/leone-venter-VieM9BdZKFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensures background covers the entire viewport height */
    overflow: hidden; /* Hides any overflow from the background container */
}
.color
{
    text-decoration: mediumblue ;
}
.table-container {
    max-height: calc(100vh - 200px); /* Adjust as necessary based on other elements' heights */
    overflow-y: auto; /* Enables vertical scrolling */
}

.transparent-card {
    background-color: rgba(236, 212, 212, 0.5); /* White color with 50% transparency */
}

    /* Custom styles for the logout button */
    .logout-container {
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    }

    .logout-btn {
        background-color: red;
        color: white;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .logout-btn:hover {
        background-color: darkred;
    }
